html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 16px;
}


.model-viewer-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-viewer {
  height: 100%;
  width: auto;
  max-width: 100%;
}
